html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 15px;
  color: #777777;
  line-height: 1.8em;
  font-weight: 400;
  background: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Grand Hotel', cursive;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em; }

.row::after {
  content: '';
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  margin-right: 2.6%; }

[class*="col-"]:first-child {
  margin-left: 0px; }

[class*="col-"]:last-child {
  margin-right: 0px; }

.col-1 {
  width: 5.95%; }

.col-2 {
  width: 14.5%; }

.col-3 {
  width: 23.05%; }

.col-4 {
  width: 31.6%; }

.col-5 {
  width: 40.15%; }

.col-6 {
  width: 48.7%; }

.col-7 {
  width: 57.25%; }

.col-8 {
  width: 65.8%; }

.col-9 {
  width: 74.35%; }

.col-10 {
  width: 82.9%; }

.col-11 {
  width: 91.45%; }

.col-12 {
  width: 100%; }

.btn {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  padding: 12px 30px;
  line-height: 24px;
  letter-spacing: 0; }
  .btn.btn-organe {
    background: #f5b062;
    color: #5ec79c;
    text-decoration: none; }
    .btn.btn-organe:hover {
      background: transparent;
      border: 2px solid #f5b062;
      color: #ffffff; }
  .btn.btn-green {
    color: #ffffff;
    background: #5ec79c;
    text-decoration: none; }
    .btn.btn-green:hover {
      background: transparent;
      border: 2px solid #5ec79c;
      color: #5ec79c; }
  .btn.btn-green-2 {
    background: transparent;
    border: 2px solid #5ec79c;
    color: #5ec79c;
    text-decoration: none; }
    .btn.btn-green-2:hover {
      background: #5ec79c;
      color: #ffffff; }
  .btn.btn-white {
    color: #ffffff;
    background: transparent;
    text-decoration: none;
    border: 2px solid #ffffff; }
    .btn.btn-white:hover {
      background: #ffffff;
      color: #000000; }

.font-robo-condensed {
  font-family: 'Roboto Condensed', sans-serif; }

.img {
  max-width: 100%;
  width: 100%; }

.font-size-12 {
  font-size: 12px; }

.font-size-13 {
  font-size: 13px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-22 {
  font-size: 22px; }

.font-size-24 {
  font-size: 24px; }

.font-size-25 {
  font-size: 25px; }

.font-size-28 {
  font-size: 28px; }

.font-size-30 {
  font-size: 30px; }

.font-size-32 {
  font-size: 32px; }

.font-size-34 {
  font-size: 34px; }

.font-size-36 {
  font-size: 34px; }

.font-size-40 {
  font-size: 40px; }

.font-size-48 {
  font-size: 48px; }

.font-size-52 {
  font-size: 52px; }

.font-size-64 {
  font-size: 64px; }

.font-size-80 {
  font-size: 80px; }

.font-size-110 {
  font-size: 110px; }

.text-uppercase {
  text-transform: uppercase; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.our-new-products .row-well::after, .team-our-farmers .default-team::after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0; }

.top-header .menu-main, .footer-upper .info, .our-new-products .row-well .menu-filer .menu-new, .our-partners .menu-owl-loaded {
  margin: 0;
  padding: 0; }

.stay-for-updates .left-stay .inner-box .input {
  outline: none;
  border: none; }

.deal-of-day .owl-nav .owl-prev, .deal-of-day .owl-nav .owl-next {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #f5b062;
  border: 2px solid #f5b062;
  border-radius: 3px;
  line-height: 37px; }
  .deal-of-day .owl-nav .owl-prev:hover, .deal-of-day .owl-nav .owl-next:hover {
    background: #f5b062;
    color: #ffffff; }

.deal-of-day .our-stage-outer .our-stage .slide-col .theme-btn, .deal-of-day .our-stage-outer .our-stage .slide-col .shop-btn {
  position: relative;
  top: 46px;
  padding: 12px 15px;
  width: 44px;
  height: 44px;
  color: #5ec79c;
  border: 2px solid #5ec79c;
  margin-right: 10px; }
  .deal-of-day .our-stage-outer .our-stage .slide-col .theme-btn:hover, .deal-of-day .our-stage-outer .our-stage .slide-col .shop-btn:hover {
    background: #5ec79c;
    color: #ffffff; }

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto; }

.top-header .menu-main .menu-item {
  display: inline-block;
  padding: 28px 0px;
  margin-left: 50px; }
  .top-header .menu-main .menu-item .menu-item-a {
    text-decoration: none;
    color: #777777; }
    .top-header .menu-main .menu-item .menu-item-a:hover {
      color: #5ec79c; }
    .top-header .menu-main .menu-item .menu-item-a.active {
      color: #5ec79c; }
    .top-header .menu-main .menu-item .menu-item-a .fadown {
      padding-left: 8px; }
.top-header .nav-toggler {
  display: none; }

.footer-upper {
  padding: 100px 0 50px; }
  .footer-upper .desc-footer {
    color: #777777; }
  .footer-upper .gal-img:hover {
    opacity: 0.80; }
  .footer-upper .title-footer {
    position: relative;
    margin-bottom: 35px;
    color: #000000;
    font-weight: 700; }
    .footer-upper .title-footer:after {
      position: absolute;
      content: '';
      width: 30px;
      left: 0;
      top: 24px;
      border-bottom: 1px solid #5ec79c; }
  .footer-upper .info .info-item {
    padding-bottom: 14px;
    color: #777777; }
    .footer-upper .info .info-item .infor-item-a {
      color: #777777;
      text-decoration: none; }
      .footer-upper .info .info-item .infor-item-a:hover {
        color: #f5b062; }
  .footer-upper .links {
    padding-top: 6px; }
    .footer-upper .links .links-a-fa {
      color: #777777;
      padding-right: 10px; }
      .footer-upper .links .links-a-fa:hover {
        color: #f5b062; }
  .footer-upper .social-links .title-follow {
    color: #000000;
    font-weight: 700; }

.footer-bottom {
  padding: 25px 0;
  background: #e0e0e0; }
  .footer-bottom .copyright {
    color: #bdbdbd; }

.shows-slide {
  position: relative; }
  .shows-slide .farm-fresh {
    position: absolute;
    top: 25%;
    left: 36%; }
    .shows-slide .farm-fresh .title-farm {
      color: #ffffff; }
    .shows-slide .farm-fresh .title-locally {
      line-height: 42px;
      padding-bottom: 30px;
      color: #ffffff; }

.intro-bkg-content {
  position: relative;
  background: url(../images/bg/pattern.png) center center no-repeat;
  background-size: cover;
  z-index: 12; }
  .intro-bkg-content:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(244, 238, 222, 0.94); }
  .intro-bkg-content .content-box {
    position: relative;
    top: -200px;
    padding: 60px 110px 0;
    background: #ffffff;
    margin-bottom: 66px;
    z-index: 1; }
    .intro-bkg-content .content-box:after {
      content: '';
      position: absolute;
      left: 0px;
      top: 100%;
      height: 64px;
      width: 100%;
      background: url(../images/cut/bottom-circular.png);
      z-index: 1; }
    .intro-bkg-content .content-box .inner-box {
      position: relative; }
      .intro-bkg-content .content-box .inner-box:before {
        content: '';
        position: absolute;
        bottom: -296px;
        right: 100%;
        margin-right: -110px;
        width: 570px;
        height: 510px;
        z-index: 2;
        background: url(../images/bg/crop-image-left.png) center top no-repeat; }
      .intro-bkg-content .content-box .inner-box .sec-title {
        position: relative;
        padding-top: 70px;
        padding-bottom: 10px;
        margin-bottom: 50px; }
        .intro-bkg-content .content-box .inner-box .sec-title:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 80px;
          background: url(../images/icon/icon-crops.png) center top no-repeat; }
        .intro-bkg-content .content-box .inner-box .sec-title:before {
          content: '';
          position: absolute;
          margin-left: -20px;
          left: 50%;
          bottom: 0;
          width: 40px;
          height: 2px;
          background: #5ec79c; }
      .intro-bkg-content .content-box .inner-box .welcome-to {
        position: relative;
        z-index: 4; }
        .intro-bkg-content .content-box .inner-box .welcome-to .title-organe {
          color: #5ec79c;
          line-height: 1.4em;
          margin-bottom: 15px;
          font-weight: 700; }
          .intro-bkg-content .content-box .inner-box .welcome-to .title-organe.orgne-right {
            text-align: right; }
        .intro-bkg-content .content-box .inner-box .welcome-to .desc-text {
          line-height: 30px;
          padding-bottom: 20px; }

.about-our-farm {
  position: relative; }
  .about-our-farm .sec-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 50px; }
    .about-our-farm .sec-title:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #5ec79c; }
  .about-our-farm .circle:before {
    display: table;
    content: ''; }
  .about-our-farm .circle .circle-item {
    position: relative;
    width: 160px;
    height: 160px;
    line-height: 10px; }
    .about-our-farm .circle .circle-item:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -75px;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      top: 0;
      border: 1px solid #dddddd; }
    .about-our-farm .circle .circle-item.active {
      color: #5ec79c; }
      .about-our-farm .circle .circle-item.active:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: -20px;
        border: 1px solid #5ec79c; }
    .about-our-farm .circle .circle-item .circle-txt {
      position: absolute;
      top: 50%;
      left: 40%; }
  .about-our-farm .tab {
    padding-top: 50px; }
    .about-our-farm .tab .title-look {
      padding: 0 30px 20px; }
    .about-our-farm .tab .desc-beautiful {
      padding-bottom: 20px; }
    .about-our-farm .tab .author-name {
      color: #5ec79c; }

.outer-box {
  position: relative;
  background: url(../images/bg/pattern.png) center center no-repeat;
  background-size: cover; }
  .outer-box .oval-cut {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 64px;
    z-index: 2;
    background: url(../images/cut/curve-one.png) center top no-repeat; }
  .outer-box .left-column {
    width: 50%;
    padding: 80px 0; }
    .outer-box .left-column:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(94, 199, 156, 0.94); }
    .outer-box .left-column .save-up-box {
      position: relative;
      float: right;
      width: 46%; }
      .outer-box .left-column .save-up-box .title-save {
        color: #ffffff; }
      .outer-box .left-column .save-up-box .title-on {
        color: #ffffff;
        padding-bottom: 20px; }
  .outer-box .right-column {
    width: 50%;
    float: right; }
    .outer-box .right-column:before {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      width: 50%;
      height: 100%;
      background: rgba(245, 176, 98, 0.94); }
    .outer-box .right-column .free-shipping-box {
      position: relative;
      float: left;
      top: -254px;
      right: -14px;
      width: 60%; }
      .outer-box .right-column .free-shipping-box .title-over {
        color: #ffffff; }
      .outer-box .right-column .free-shipping-box .title-dolar {
        color: #ffffff; }
      .outer-box .right-column .free-shipping-box .title-purchase {
        color: #ffffff;
        padding-bottom: 20px; }
      .outer-box .right-column .free-shipping-box .title-first-purchase {
        color: #ffffff;
        padding-bottom: 20px; }
  .outer-box .img-left {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: 1; }
  .outer-box .img-right {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1; }

.our-new-products {
  padding: 100px 0 100px; }
  .our-new-products .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px; }
    .our-new-products .sec-title:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat; }
    .our-new-products .sec-title:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #5ec79c; }
  .our-new-products .row-well {
    margin-bottom: 30px; }
    .our-new-products .row-well .menu-filer {
      display: block;
      margin-bottom: 40px; }
      .our-new-products .row-well .menu-filer .menu-new .menu-new-item {
        display: inline-block;
        padding: 0 15px; }
        .our-new-products .row-well .menu-filer .menu-new .menu-new-item .new-a {
          color: #333333;
          text-decoration: none; }
          .our-new-products .row-well .menu-filer .menu-new .menu-new-item .new-a:hover {
            color: #f5b062; }
    .our-new-products .row-well .fruit {
      border: 1px solid #e0e0e0;
      float: left;
      width: calc((100% - 90px) / 3);
      margin: 30px 30px 0 0; }
      .our-new-products .row-well .fruit:nth-child(4n) {
        margin-right: 0; }
      .our-new-products .row-well .fruit:last-child {
        margin-right: 0; }
      .our-new-products .row-well .fruit .lower-content {
        padding: 20px 20px 40px; }
        .our-new-products .row-well .fruit .lower-content .title-fruits {
          text-decoration: none;
          color: #333333; }
        .our-new-products .row-well .fruit .lower-content .price {
          color: #5ec79c; }

.deal-of-day {
  position: relative;
  padding: 140px 0 140px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover;
  margin-bottom: 120px; }
  .deal-of-day:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(244, 238, 222, 0.94); }
  .deal-of-day .owl-nav {
    position: relative; }
  .deal-of-day .title-box {
    position: relative; }
    .deal-of-day .title-box .title-box-save {
      color: #5ec79c; }
    .deal-of-day .title-box .title-box-deal {
      color: #f5b062; }
  .deal-of-day .our-stage-outer {
    position: absolute;
    top: 0;
    right: 0; }
    .deal-of-day .our-stage-outer .our-stage .slide-col {
      margin-top: 100px; }
      .deal-of-day .our-stage-outer .our-stage .slide-col .title-slide-soup {
        color: #000000; }
      .deal-of-day .our-stage-outer .our-stage .slide-col .title-price {
        color: #000000; }
      .deal-of-day .our-stage-outer .our-stage .slide-col .theme-btn {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
      .deal-of-day .our-stage-outer .our-stage .slide-col .shop-btn {
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        -o-border-radius: 22px;
        border-radius: 22px;
        text-decoration: none;
        padding: 12px 35px; }

.team-our-farmers {
  margin-bottom: 120px; }
  .team-our-farmers .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px; }
    .team-our-farmers .sec-title:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat; }
    .team-our-farmers .sec-title:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #5ec79c; }
  .team-our-farmers .default-team {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0; }
    .team-our-farmers .default-team .team-img {
      height: 330px; }
    .team-our-farmers .default-team .img-colum {
      width: 50%;
      float: left; }
      .team-our-farmers .default-team .img-colum .inner {
        padding: 50px 50px 20px; }
        .team-our-farmers .default-team .img-colum .inner .text {
          color: #bdbdbd; }
      .team-our-farmers .default-team .img-colum .social-links .social-links-a {
        color: #777777; }
        .team-our-farmers .default-team .img-colum .social-links .social-links-a:hover {
          color: #f5b062; }
    .team-our-farmers .default-team .inner-rigth {
      padding: 50px 50px 74px; }
      .team-our-farmers .default-team .inner-rigth .social-links .social-links-a {
        color: #777777; }
        .team-our-farmers .default-team .inner-rigth .social-links .social-links-a:hover {
          color: #f5b062; }

.testimonial-section {
  position: relative;
  padding: 160px 0 160px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover; }
  .testimonial-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(94, 199, 156, 0.94); }
  .testimonial-section .oval-cut {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 64px;
    background: url(../images/cut/curve-two.png) center top no-repeat;
    z-index: 2; }
  .testimonial-section .carousel-outer {
    position: relative;
    max-width: 860px;
    margin: 0 auto; }
    .testimonial-section .carousel-outer:before {
      content: "\f10d";
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      top: -20px;
      font-size: 44px;
      color: rgba(255, 255, 255, 0.1); }
    .testimonial-section .carousel-outer:after {
      font-family: 'FontAwesome';
      content: "\f10e";
      position: absolute;
      right: 0px;
      bottom: -38px;
      display: block;
      line-height: 1em;
      font-size: 44px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.1); }
    .testimonial-section .carousel-outer .desc-carousel {
      max-width: 758px;
      margin-left: 74px;
      color: #ffffff; }
    .testimonial-section .carousel-outer .icon-box {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      width: 64px;
      height: 64px;
      line-height: 60px;
      border: 2px solid #ffffff;
      color: #ffffff;
      left: 390px;
      top: -130px; }
      .testimonial-section .carousel-outer .icon-box:before {
        content: "\f11a";
        font-family: FontAwesome;
        font-style: normal; }
      .testimonial-section .carousel-outer .icon-box:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -1px;
        top: 100%;
        margin-top: 10px;
        border-right: 2px solid #ffffff;
        height: 40px; }
  .testimonial-section .queto-infor {
    position: relative;
    padding: 60px 0px 10px 130px;
    min-height: 100px;
    text-align: left;
    max-width: 200px;
    margin: 0 auto; }
    .testimonial-section .queto-infor .title-adam {
      color: #ffffff; }
    .testimonial-section .queto-infor .title-ceo {
      color: #ffffff; }
    .testimonial-section .queto-infor .img-author {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: 0; }

.our-partners {
  padding-bottom: 45px; }
  .our-partners .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px; }
    .our-partners .sec-title:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat; }
    .our-partners .sec-title:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: #5ec79c; }
  .our-partners .menu-owl-loaded .menu-owl-loaded-item {
    display: inline-block; }

.stay-for-updates {
  position: relative;
  padding: 100px 0 120px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover; }
  .stay-for-updates:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(245, 176, 98, 0.94); }
  .stay-for-updates .left-stay {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0; }
    .stay-for-updates .left-stay .inner-box {
      max-width: 600px;
      width: 100%;
      float: right;
      position: relative;
      z-index: 1; }
      .stay-for-updates .left-stay .inner-box .title-over {
        color: #ffffff; }
      .stay-for-updates .left-stay .inner-box .title-updates {
        color: #ffffff; }
      .stay-for-updates .left-stay .inner-box .input {
        width: 60%;
        height: 44px;
        border-bottom: 2px solid #ffffff;
        background: transparent;
        padding: 0 15px;
        font-size: 15px; }
  .stay-for-updates .right-stay {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 50%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    right: 0px;
    top: 0px; }

/*# sourceMappingURL=style.css.map */
