.top-header {
  .menu-main {
    @extend %no-mr-pd;
    .menu-item {
      display: inline-block;
      padding: 28px 0px;
      margin-left: 50px;
      .menu-item-a {
        text-decoration: none;
        color: map-get($color, gray);
        &:hover {
          @include transition(all 0.5s linear);
          color: map-get($color, green);
        }
        &.active {
          color: map-get($color, green);
        }
        .fadown {
          padding-left: 8px;
        }
      }
    }
  }
  .nav-toggler {
    display: none;
  }
}
