* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 15px;
  color: map-get($color, gray);
  line-height: 1.8em;
  font-weight: 400;
  background: map-get($color, white);
}
h1, h2 , h3, h4, h5, h6 {
  font-family: 'Grand Hotel', cursive;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}
.row::after {
  content: '';
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  margin-right: 2.6%;
}
[class*="col-"]:first-child {
    margin-left: 0px;
}
[class*="col-"]:last-child {
    margin-right: 0px;
}
@for $i from 1 through 12 {
  .col-#{$i}{
    width: (100% - (12/$i - 1) * 2.6)/(12/$i);
  }
}
.btn {
  @include border-radius(25px);
  cursor: pointer;
  padding: 8px 30px;
  line-height: 24px;
  letter-spacing: 0;
  &.btn-organe {
    background: map-get($color, orange);
    color: map-get($color, green);
    text-decoration: none;
  }
  &.btn-green {
    color: map-get($color, green);
  }
}
.font-robo-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
.img {
  max-width: 100%;
  width: 100%;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-36 {
  font-size: 34px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-48 {
  font-size: 48px;
}
.font-size-52 {
  font-size: 52px;
}
.font-size-64 {
  font-size: 64px;
}
.font-size-80 {
  font-size: 80px;
}
.font-size-110 {
  font-size: 110px;
}
.text-uppercase {
  text-transform: uppercase;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
