.shows-slide {
  position: relative;
  .tprwow {
    top: 50% !important;
    left: 0px !important;
    .tprwow-left {
      position: absolute;
      width: 30px;
      height: 110px;
      background: rgba(0,0,0,0.5);
      z-index: 100;
      display: block;
      left: 0;
      top: 40%;
      .chevron {
        padding: 44px 8px;
      }
    }
    .tprwow-right {
      position: absolute;
      width: 30px;
      height: 110px;
      background: rgba(0,0,0,0.5);
      z-index: 100;
      display: block;
      right: 0;
      top: 40%;
      .chevron {
        padding: 44px 8px;
      }
    }
  }
  .farm-fresh {
    position: absolute;
    top: 25%;
    left: 36%;
    .title-farm {
      color: map-get($color, white);
    }
    .title-locally {
      line-height: 42px;
      padding-bottom: 30px;
      color: map-get($color, white);
    }
  }
}
// * intro-bkg-content *//
.intro-bkg-content {
  position: relative;
  top: -8px;
  background: url(../images/bg/pattern.png) center center no-repeat;
  background-size: cover;
  z-index: 12;
  overflow: hidden;
  &:after {
    @extend %position;
    width: 100%;
    height: 100%;
    background: rgba(244,238,222,0.94);
  }
  .content-box {
    position: relative;
    top: -200px;
    padding: 60px 110px 0;
    background: map-get($color, white);
    margin-bottom: 66px;
    z-index: 1;
    &:after  {
      content: '';
      position: absolute;
      left: 0px;
      top: 100%;
      height: 64px;
      width: 100%;
      background: url(../images/cut/bottom-circular.png) center top no-repeat;
      z-index: 1;
    }
    .inner-box {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -296px;
        right: 100%;
        margin-right: -110px;
        width: 570px;
        height: 510px;
        z-index: 2;
        background: url(../images/bg/crop-image-left.png) center top no-repeat;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -296px;
        left: 100%;
        margin-left: -110px;
        width: 570px;
        height: 510px;
        z-index: 2;
        background: url(../images/bg/crop-image-right.png) center top no-repeat;
      }
      .sec-title {
        position: relative;
        padding-top: 70px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        &:after {
          @extend %position;
          width: 100%;
          height: 80px;
          background: url(../images/icon/icon-crops.png) center top no-repeat;
        }
        &:before {
          content: '';
          position: absolute;
          margin-left: -20px;
          left: 50%;
          bottom: 0;
          width: 40px;
          height: 2px;
          background: map-get($color, green);
        }
      }
      .welcome-to {
        position: relative;
        z-index: 4;
        .title-organe {
          color: map-get($color, green);
          line-height: 1.4em;
          margin-bottom: 15px;
          font-weight: 700;
          &.orgne-right {
            text-align: right;
          }
        }
        .desc-text {
          line-height: 30px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
// * our-new-products *//
.about-our-farm {
  position: relative;
  .sec-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: map-get($color, green);
    }
  }
  .circle {
    &:before {
      display: table;
      content: '';
    }
    .circle-item {
      position: relative;
      width: 160px;
      height: 160px;
      line-height: 10px;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -75px;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        top: 0;
        border: 1px solid map-get($color, gray-2);
      }
      &.active {
        color: map-get($color, green);
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          margin-left: -100px;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          top: -20px;
          border: 1px solid map-get($color, green);
        }
      }
      .circle-txt {
        position: absolute;
        top: 50%;
        left: 40%;
      }
    }
  }
  .tab {
    padding-top: 50px;
    .title-look {
      padding: 0 30px 20px;
    }
    .desc-beautiful {
      padding-bottom: 20px;
    }
    .author-name {
      color: map-get($color, green);
    }
  }
}
// * about-our-farm *//
.outer-box {
  position: relative;
  background: url(../images/bg/pattern.png) center center no-repeat;
  background-size: cover;
  .oval-cut {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 64px;
    z-index: 2;
    background: url(../images/cut/curve-one.png) center top no-repeat;
  }
  .left-column {
    width: 50%;
    padding: 80px 0;
    &:before {
      @extend %position;
      width: 50%;
      height: 100%;
      background: rgba(94,199,156, 0.94);
   }
   .save-up-box {
    position: relative;
    float: right;
    width: 46%;
    .title-save {
      color: map-get($color, white);
    }
    .title-on {
      color: map-get($color, white);
      padding-bottom: 20px;
      }
    }
  }
  .right-column {
    width: 50%;
    float: right;
    &:before {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      width: 50%;
      height: 100%;
      background: rgba(245,176,98,0.94);
   }
   .free-shipping-box {
      position: relative;
      float: left;
      top: -254px;
      right: -60px;
      width: 60%;
      .title-over {
        color: map-get($color, white);
      }
      .title-dolar {
        color: map-get($color, white);
      }
      .title-purchase {
        color: map-get($color, white);
        padding-bottom: 20px;
      }
      .title-first-purchase {
        color: map-get($color, white);
        padding-bottom: 20px;
      }
    }
  }
  .img-left {
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: 1;
  }
  .img-right {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
  }
}
// * outer-box *//
.our-new-products {
  padding: 100px 0 100px;
 .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:after {
      @extend %position;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: map-get($color, green);
    }
  }
  .row-well {
    @extend %clearfix;
    margin-bottom: 30px;
    .menu-filer {
      display: block;
      margin-bottom: 40px;
      .menu-new {
        @extend %no-mr-pd;
        .menu-new-item {
          display: inline-block;
          padding: 0 15px;
          .new-a {
            color: map-get($color, gray-3);
            text-decoration: none;
            &:hover {
              @include transition(all 0.5s linear);
              color: map-get($color, orange);
            }
          }
        }
      }
    }
    .fruit {
      border: 1px solid map-get($color, gray-4);
      float: left;
      width: calc((100% - 90px) / 3);
      margin: 30px 30px 0 0;
      &:hover {
        @include transition(all .3s linear);
        border: 1px solid map-get($color, green);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .lower-content {
        padding: 20px 20px 40px;
        .title-fruits {
          text-decoration: none;
          color: map-get($color, gray-3);
          &:hover {
            @include transition(all 0.5s linear);
            color: map-get($color, green);
          }
        }
        .price {
          color: map-get($color, green);
        }
      }
    }
  }
}
.deal-of-day {
  position: relative;
  padding: 140px 0 140px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover;
  margin-bottom: 120px;
  &:before {
    @extend %position;
    width: 100%;
    height: 100%;
    background: rgba(244,238,222,0.94);
  }
  .owl-nav-prev {
    position: relative;
    .owl-prev-continue {
      @extend %owl;
    }
    .owl-next-continue {
     @extend %owl;
    }
  }
  .title-box {
    position: relative;
    .title-box-save {
      color: map-get($color, green);
    }
    .title-box-deal {
      color: map-get($color, orange);
    }
  }
  .our-stage-outer {
    position: absolute;
    top: 0;
    right: 0;
    .our-stage {
      .slide-col {
        margin-top: 100px;
        .title-slide-soup {
          color: map-get($color, black);
        }
        .title-price {
          color: map-get($color, black);
        }
        .theme-btn {
          @include border-radius(5px);
          @extend %theme-btn;
        }
        .shop-btn {
          @include border-radius(22px);
          @extend %theme-btn;
          text-decoration: none;
          padding: 12px 35px;
        }
      }
    }
  }
}
// * our-new-products *//
.team-our-farmers {
  margin-bottom: 120px;
  .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:after {
      @extend %position;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: map-get($color, green);
    }
  }
  .default-team {
    @extend %clearfix;
    margin-bottom: 30px;
    border: 1px solid map-get($color, gray-4);
    .team-img {
      height: 330px;
    }
    .img-colum {
      width: 50%;
      float: left;
      .inner {
        padding: 50px 50px 20px;
        .text {
          color: map-get($color, gray-5);
        }
        .title-parker {
          @extend %title-parker;
        }
      }
      .social-links {
        .social-link-a {
          @extend %social-link-a;
        }
      }
    }
    .inner-rigth {
      padding: 50px 50px 74px;
      .title-parker {
        @extend %title-parker;
      }
      .social-links {
        .social-link-a {
          @extend %social-link-a;
        }
      }
    }
  }
}
// * team-our-farmers *//
.testimonial-section {
  position: relative;
  padding: 160px 0 160px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover;
  &:before {
    @extend %position;
    width: 100%;
    height: 100%;
    background: rgba(94,199,156,0.94);
  }
  .oval-cut {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 64px;
    background: url(../images/cut/curve-two.png) center top no-repeat;
    z-index: 2;
  }
  .carousel-outer {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
    &:before {
      content: "\f10d";
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      top: -20px;
      font-size: 44px;
      color: rgba(255,255,255,0.10);
    }
    &:after {
      font-family: 'FontAwesome';
      content: "\f10e";
      position: absolute;
      right: 0px;
      bottom: -38px;
      display: block;
      line-height: 1em;
      font-size: 44px;
      font-weight: normal;
      color: rgba(255,255,255,0.10);
    }
    .desc-carousel {
      max-width: 758px;
      margin-left: 74px;
      color: map-get($color, white);
    }
    .icon-box {
      @include border-radius(50%);
      position: absolute;
      width: 64px;
      height: 64px;
      line-height: 60px;
      border: 2px solid map-get($color, white);
      color: map-get($color, white);
      left: 390px;
      top: -130px;
      &:before {
        content: "\f11a";
        font-family: FontAwesome;
        font-style: normal;
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -1px;
        top: 100%;
        margin-top: 10px;
        border-right: 2px solid map-get($color, white);
        height: 40px;
      }
    }
  }
  .queto-infor {
    position: relative;
    padding: 60px 0px 10px 130px;
    min-height: 100px;
    text-align: left;
    max-width: 200px;
    margin: 0 auto;
    .title-adam {
      color: map-get($color, white);
    }
    .title-ceo {
      color: map-get($color, white);
    }
    .img-author {
      @include border-radius(50%);
      position: absolute;
      left: 0;
    }
  }
}
// * testimonial-section *//
.our-partners {
  padding-bottom: 45px;
  .sec-title {
    position: relative;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:after {
      @extend %position;
      width: 100%;
      height: 80px;
      background: url(../images/icon/icon-crops.png) center top no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      margin-left: -20px;
      left: 50%;
      bottom: 0;
      width: 40px;
      height: 2px;
      background: map-get($color, green);
    }
  }
  .menu-owl-loaded {
    @extend %no-mr-pd;
    .menu-owl-loaded-item {
      display: inline-block;
    }
  }
  .owl-nav, .owl-dots {
    display: none;
  }
}
.stay-for-updates {
  position: relative;
  padding: 100px 0 120px;
  background: url(../images/bg/pattern.png) no-repeat;
  background-size: cover;
  &:before {
    @extend %position;
    width: 100%;
    height: 100%;
    background: rgba(245,176,98,0.94);
  }
  .left-stay {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0;
    .inner-box {
      max-width: 600px;
      width: 100%;
      float: right;
      position: relative;
      z-index: 1;
      .title-over {
        color: map-get($color, white);
      }
      .title-updates {
        color: map-get($color, white);
      }
      .input {
        @extend %ol-bd;
        width: 60%;
        height: 44px;
        border-bottom: 2px solid map-get($color, white);
        background: transparent;
        padding: 0 15px;
        font-size: 15px;
      }
    }
  }
  .right-stay {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    margin: 0px;
    height: 100%;
    width: 50%;
    padding: 0px;
    border-width: 0px;
  }
}
